n8n_workflows/QueryRAG.json
{
  "name": "QueryRAG",
  "nodes": [
    {
      "parameters": {},
      "id": "d0f3757e-a365-4a28-9445-1fcd7a832bc3",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        48,
        224
      ],
      "credentials": {
        "postgres": {
          "id": "nKR3UhJp31oD1D5S",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "name": "pydantic_ai_docs",
        "description": "Retrieves data related to Pydantic AI using their documentation.",
        "topK": 20
      },
      "id": "adfe9867-05c4-4e68-affc-7bf89d3404cc",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        384,
        112
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {}
      },
      "id": "17fa1ba8-d069-4b1e-b529-791f4bd6be02",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "5d2e2676-e2bf-4f50-8063-de83fdaf769a",
      "name": "Supabase Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        176,
        272
      ],
      "credentials": {
        "supabaseApi": {
          "id": "481woVBRUXLcKbYO",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -128,
        224
      ],
      "id": "1b5c3354-5760-4a37-84f1-98362d5416cd",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "U5zHY9FP46QpGa2j",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "snowflake-arctic-embed2:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        176,
        432
      ],
      "id": "f252d514-82c4-455f-9d81-84a8103a4daf",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "U5zHY9FP46QpGa2j",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        528,
        304
      ],
      "id": "3d786845-4548-43bf-87e0-d200d731bfa8",
      "name": "Ollama Chat Model Vector Store",
      "credentials": {
        "ollamaApi": {
          "id": "U5zHY9FP46QpGa2j",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "sessionId"
            },
            {
              "name": "chatInput"
            },
            {
              "name": "action"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -192,
        0
      ],
      "id": "d2d2db97-224b-4517-ae97-3be890f23457",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model Vector Store": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "098e47dc-13ce-4c46-9529-3868a93b09e6",
  "meta": {
    "instanceId": "a819d7cd38e9101be2e496298e8bf426ce9cdf78d2af35ddf44c6ad25d50158b"
  },
  "id": "cC6Zxs1kOnLRwk4F",
  "tags": []
}